.product {
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font: 13px/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif;
  cursor: pointer;
}

.product .price {
  display: flex;
  font-weight: 700;
}

.product .title {
  color: #0091d9;
}

.product .title:hover {
  color: #ff6163;
}

.product .product-image {
  max-width: 208px;
}

.product .img-number {
  position: absolute;
  transform: translate(4px, -26px);
  display: flex;
  z-index: 100;
  /* bottom: 24px;
  left: 3px; */
  justify-content: center;
  align-items: center;
  height: 17.69px;
  width: 17px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.js-favorites-add-icon {
  position: absolute;
  display: flex;
  width: 36px;
  height: 36px;
  transform: translateX(172px);
  background-image: url(https://www.avito.st/s/cc/resources/b127d52fdfb0.svg);
}

.selected {
  background-image: url(https://www.avito.st/s/cc/resources/8a6950657d55.svg);
}
